table {
    width: 100%;
}

table th {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

table td {
    text-align: center;
}

.float button{
    bottom: 5% !important;
    right: 2% !important;
    position: fixed;
}